extends partial/layout

block site_title
    != __('menu.Archive') + "_" + config.subtitle

block container
    include mixins/post
    +postList()

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright