extends partial/layout

block site_title
    != page.title + " · " + config.title

block description
    - var desc = page.content.slice(0, 600).replace(/<[^>]+>/g,"")
    meta(name="description", content=desc)

block container
    include mixins/post
    +post(page)

block pagination
    include mixins/paginator
    +post()
    include partial/comment