doctype
html(lang=config.language)
    head
        include head
    body
        .wrap
            header
                a.logo-link(href=url_for())
                    img(src=url_for(theme.logo))
                include nav
            section.container
                block container
            footer
                block pagination
                block copyright
        include scripts
