doctype
html(lang=config.language)
    head
        include head
    body
        #mask(style="display: none;")
            img#mask-image(src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" width="0" height="0" style=" ")
        .wrap
            header
                a.logo-link(href=url_for())
                    img(src=theme.logo)
                include nav
            section.container
                block container
            footer
                block pagination
                block copyright
        include scripts
