ul.nav.nav-list
    each value, key in theme.menu
        li.nav-list-item
            - var re = /^(http|https):\/\/*/gi;
            - var tar = re.test(value) ? "_blank" : "_self"
            a.nav-list-link(class={active: is_home() && value === "/"} href=value target=tar)
                != key.toUpperCase()