- var ga = theme.ga
- var ba = theme.ba

if ga
    script
        | (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create',
        != '"' + ga + '"'
        | ,'auto');ga('send','pageview');
if ba
    script
        | var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = 
        != '"' + ba + '"'
        | ;var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s);})();

//- LaTex
script(src="https://cdn.bootcss.com/mathjax/2.5.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML")