.archive {
    max-width: 500px;
    margin: 5em auto;
    .post-item {
        padding: 2px 0 0 50px;

    }
    .post-time,
    .post-title-link {
        font-size: 1rem;
    }
    .post-title-link {
        color: #42b983;
    }
    .post-time {
        display: inline-block;
        width: 100px;
        color: #7f8c8d;
    }
}