.archive.post-list {
    margin: 4em 0 4em 4em;
    .post-list-item {
        margin: 10px 0;
    }
    .post-title {
        font-size: 16px;
        margin: 0;
    }
    .post-time {
        margin: 0;
    }
}