.paginator {
    margin: 4em 0;
    .prev, .next {
        display: inline-block;
        &:hover {
            color: #42b983;
        }
    }
    .prev {
        width: 49%;
        margin-left: -1%;
        margin-right: 1%;
        text-align: right;
    }
    .next {
        width: 49%;
        margin-left: 1%;
        margin-right: -1%;
        text-align: left;
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}