mixin postInfo(item)
    .post-meta
        .post-time
            != full_date(item.date, 'll')

mixin postList()
    ul.archive.post-list
        - page.posts.each(function(item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                    +postInfo(item)
        - })

mixin posts()
    ul.home.post-list
        - page.posts.each(function(item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                    +postInfo( item )
                    .post-content
                        != item.excerpt
                    a.read-more(href=item.path)!= __('more')
        - })

mixin post(item)
    .post
        article.post-block
            h1.post-title
                != item.title
            +postInfo(item)
            .post-content
                != item.content